body {
    background: #73A5DA;
    color: #274979;
    padding: 10px;
    font-family: verdana;
}
#all-contents {
    max-width: 750px;
    margin: auto;
}

/* NAVIGATION MENU */
nav {
    background: #FEAD6E;
    margin: 0 auto;
    display: flex;
    padding: 10px;
    color:#262626;
}
h1 {
    display: flex;
    align-items: center;
    color: #262626;
    flex: 1;
    margin: 0;
}
#nav-ul {
    list-style-image: none;
}
.nav-li {
    display: inline-block;
    padding: 0 10px;
}
a {
    text-decoration: none;
    color: #262626;
}

/* MAIN CONTAINER BENEATH MENU */
main {
    background: #FCFDF5;
    display: flex;
}
.sidebar {
    margin-right: -10px;
    padding: 10px;
}
.sidebar-img {
    width: 210px;
    border: 3px solid #38CAB8;
}
.content {
    flex: 1;
    padding: 15px;
}

/* PORTFOLIO STYLES */
#interests {
    border: 3px #38CAB8 solid;
    padding: 5px;
}
h2, h3 {
    margin: 0px;
}
 /* PORTFOLIO STYLES */
 .content h1 {
    color: black;
}

#portfolio {
    list-style-type: none;
    padding-left: 0;
}

#portfolio li {
    background: #FCFDF5;
    padding: 10px;
    border-radius: 0px;
    margin-bottom: 10px;
}

#portfolio li:hover {
    background: #AADF87;
}

#portfolio a {
    text-decoration: none;
    color: #274979;
}