body {
    background: #73A5DA;
    color: #274979;
    padding: 10px;
    font-family: verdana;
}
#all-contents {
    max-width: 750px;
    margin: auto;
}

/* navigation menu */
nav {
    background: #FEAD6E;
    margin: 0 auto;
    display: flex;
    padding: 10px;
}
h1 {
    display: flex;
    align-items: center;
    color: #262626;
    flex: 1;
    margin: 0;
}
#nav-ul {
    list-style-image: none;
}
.nav-li {
    display: inline-block;
    padding: 0 10px;
}
a {
    text-decoration: none;
    color: #fff;
}

/* main container area beneath menu */
main {
    background: #FCFDF5;
    display: flex;
}
.sidebar {
    margin-right: -10px;
    padding: 10px;
}
.sidebar-img {
    width: 230px;
    border: 3px solid #38CAB8;
}
.content {
    flex: 1;
    padding: 15px;
}

/* portfolio styles */
#interests {
    border: 3px #38CAB8 solid;
    padding: 5px;
}
h2, h3 {
    margin: 0px;
}